.git
.venv
**/__pycache__
*.pyc
node_modules
.DS_store
*.log
*.sqlite3
.env
.idea
.vscode
.ruff_cache
.mypy_cache
images/
videos/
sandbox/
monitoring/
mlruns/
mlflow/
helpers/
data/
tests/
start.bat
ML_System_Design_Doc.md
README.md
