# general
.git
.venv
**/__pycache__
*.pyc
node_modules
.DS_store
*.log
*.sqlite3
.env
.idea
.vscode
.ruff_cache
.mypy_cache

# project-specific
sandbox/
monitoring/
mlflow/
helpers/
data/
docs/
models/
model_repository/
start.bat
README.md
