DEBUG=1

POSTGRES_USER=klin_user_change_me
POSTGRES_PASSWORD=klin_password_change_me
DATABASE_URL=postgresql+asyncpg://klin_user_change_me:klin_password_change_me@localhost:5432/postgres

RABBITMQ_USER=rabbit_user_change_me
RABBITMQ_PASSWORD=rabbit_password_change_me
RABBIT_URL=amqp://rabbit_user_change_me:rabbit_password_change_me@localhost:5672/

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=pgadmin_password_change_me
GRAFANA_ADMIN_PASSWORD=grafana_password_change_me

ALERT_EMAIL_TO=alerts@example.com
ALERT_EMAIL_FROM=noreply@example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=smtp_user_change_me
SMTP_PASSWORD=smtp_password_change_me

TELEGRAM_BOT_TOKEN=000000000:telegram_bot_token_change_me
TELEGRAM_CHAT_ID=123456789

MLFLOW_TRACKING_URI=sqlite:///./mlflow/mlflow.db
ML_METRICS_DB_NAME=ml
ML_METRICS_DB_USER=klin_user_change_me
ML_METRICS_DB_PASSWORD=klin_password_change_me
ML_METRICS_DB_HOST=localhost
ML_METRICS_DB_PORT=5432

# Настройки ниже - опциональные и имеют идентичные дефолтные значения.

VIDEOMAE_PATH="models/videomae-UCF-crime"

# Triton 24.01 supports ONNX IR <= 9. Use newer tag for newer GPUs
# (например RTX 50xx) и/или моделей с более новой ONNX IR.
TRITON_IMAGE_TAG=24.01-py3

# При false Triton не завершает процесс, если часть моделей не загрузилась.
TRITON_EXIT_ON_ERROR=false
