DEBUG=1

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
RABBIT_URL=amqp://rabbitmq:rabbitmq@localhost:5672/

# У настроек ниже есть дефолтные значения.

VIDEOMAE_PATH="models/videomae-UCF-crime"
